name: deploy
permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"

defaults:
  run:
    shell: bash

jobs:
  deploy:
    name: deploy release assets
    strategy:
      matrix:
        include:
          - node-version: lts/*
            os: ubuntu-latest
            python-version: '3.x'
            asset-name: url-sanitizer.min.tar.gz
            pkg-dir: pkg/dist
            file-name: url-sanitizer.min.js
            file-map: url-sanitizer.min.js.map
            zip-cmd: cd ./pkg/dist && tar -cvzf url-sanitizer.min.tar.gz LICENSE README.md url-sanitizer.min.js url-sanitizer.min.js.map && cd ../../
          - node-version: lts/*
            os: ubuntu-latest
            python-version: '3.x'
            asset-name: url-sanitizer-wo-dompurify.min.tar.gz
            pkg-dir: pkg/dist
            file-name: url-sanitizer-wo-dompurify.min.js
            file-map: url-sanitizer-wo-dompurify.min.js.map
            zip-cmd: cd ./pkg/dist && tar -cvzf url-sanitizer-wo-dompurify.min.tar.gz LICENSE README.md url-sanitizer-wo-dompurify.min.js url-sanitizer-wo-dompurify.min.js.map && cd ../../
          - node-version: lts/*
            os: ubuntu-latest
            python-version: '3.x'
            asset-name: url-sanitizer.min.zip
            pkg-dir: pkg/dist
            file-name: url-sanitizer.min.js
            file-map: url-sanitizer.min.js.map
            zip-cmd: cd ./pkg/dist && zip -r url-sanitizer.min.zip ./ && cd ../../
          - node-version: lts/*
            os: ubuntu-latest
            python-version: '3.x'
            asset-name: url-sanitizer-wo-dompurify.min.zip
            pkg-dir: pkg/dist
            file-name: url-sanitizer-wo-dompurify.min.js
            file-map: url-sanitizer-wo-dompurify.min.js.map
            zip-cmd: cd ./pkg/dist && zip -r url-sanitizer-wo-dompurify.min.zip ./ && cd ../../
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
      - name: set up python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
      - name: install dependencies
        run: npm ci
      - name: make directories
        run: mkdir -p ./${{ matrix.pkg-dir }}
      - name: zip package
        run: |
          cp -r ./LICENSE ./README.md ./dist/${{ matrix.file-name }} ./dist/${{ matrix.file-map }} ./${{ matrix.pkg-dir }}
          ${{ matrix.zip-cmd }}
          stat ./${{ matrix.pkg-dir}}/${{ matrix.asset-name }}
      - name: upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: ./${{ matrix.pkg-dir}}/${{ matrix.asset-name }}
